{% extends 'plantillas/cabezera.html'%}
{%block content%}
<nav id="menuizq">
	
		<ul>
			<li><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li class="selected"><a href="{% url 'perfil' %}">Perfil</a></li>
      <li class="sub"><a href="{% url 'perfil' %}">Perfil de usuario</a></li>
      <li class="sub selected"><a href="{% url 'editarPerfil' %}">Editar datos</a></li>
      
		</ul>
		
	</nav>
	<div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Perfil › Editar
        <div class="titulo">
          <h1>Editar perfil ›</h1>  
        </div>
      </section>
      <section id="info">
        <section id="form">
          <ul>
            
            <form action="#" method="post">
              {% csrf_token %} 

              {{ formulario.as_p }}
              <li>
                <input type="submit" value="Enviar" />
              </li>

            </form>
          </ul>
        </section>
        
      </section>
    </section>
  </div>

{% endblock %}