{% extends 'plantillas/cabezera.html'%}
{%block content%}
<nav id="menuizq">
  
    <ul>
      <li class="selected"><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li class="selected"><a href="{% url 'perfil' %}">Perfil</a></li>

    </ul>
    
  </nav>
  <div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Tablero inicial
        <div class="titulo">
          <h1>Tablero inicial ></h1>
          <ul>
            <li class="selected"><a href=".">Principal</a></li>
            <li><a href=".">Crear proyecto</a></li>
          </ul> 
        </div>
      
      <section id="info">
      </section>
      

      <section id="buscar">
        <h2>Colabora en un proyecto</h2>
        <form>
          <label>Busca:</label>
          <input type="text" placeholder="Escribe tu busqueda." class="busqProyectos" />
        </form>
      </section>
      
      </section>
    </section>
  </div>
{%endblock%}