{% extends 'plantillas/cabezera.html'%}
{%block content%}
<nav id="menuizq">
  
    <ul>
      <li class="selected"><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li class="selected"><a href="{% url 'perfil' %}">Perfil</a></li>

    </ul>
    
  </nav>
  <div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Tablero inicial
        <div class="titulo">
          <h1>Tablero inicial ></h1>
          <ul>
            <li class="selected"><a href="{% url 'home' %}">Principal</a></li>
            <li><a href="{% url 'nuevoProyecto'%}">Crear proyecto</a></li>
          </ul> 
        </div>
      
      <section id="info">
      </section>
    
{%endblock%}