{% extends 'plantillas/cabezera.html'%}
{%block content%}

<nav id="menuizq">
    
    <ul>
      <li><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li><a href="{% url 'perfil' %}">Perfil</a></li>
      <li class="selected"><a href="{% url 'proyecto' proyecto.nombre  proyecto.id   %}">Datos del proyecto</a></li>

      <li class="sub"><a href="{% url 'proyecto' proyecto.nombre proyecto.id %}">Actividades</a></li>
      <li class="sub"><a href="">Colaboradores</a></li>
      <li class="sub"><a href="">Estadisticas</a></li>
      
      {% if administrador %}
      
        <li class="sub selected"><a href="{% url 'editarProyecto' proyecto.nombre  proyecto.id   %}">Editar</a></li>
        <li class="sub"><a href="">Eliminar</a></li>

      {% endif %}
      
    </ul>
    
  </nav>


	<div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span> Editar Proyecto
        <div class="titulo">
          <h1> {{ proyecto.nombre }} </h1>  
        </div>
      </section>
      <section id="info">
        <section id="form">
          <ul>
            <form action="." method="POST">
              {% csrf_token %}
              {{ formulario.as_p }}
              <li>
                <input type="submit" value="Editar" />
              </li>

            </form>
          </ul>
        </section>
        
      </section>
    </section>
  </div>

{% endblock %}