{% extends 'plantillas/cabezera.html'%}
{%block content%}


<nav id="menuizq">
    
    <ul>
      <li><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li><a href="{% url 'perfil' %}">Perfil</a></li>
      <li class="selected"><a href=".">Datos del proyecto</a></li>

      <li class="sub selected"><a href="{% url 'proyecto' proyecto.nombre  proyecto.id %}">Actividades</a></li>
      <li class="sub"><a href="">Colaboradores</a></li>
      <li class="sub"><a href="">Estadisticas</a></li>
      
      {% if administrador %}
      
        <li class="sub"><a href="{% url 'editarProyecto' proyecto.nombre  proyecto.id   %}">Editar</a></li>
        <li class="sub"><a href="">Eliminar</a></li>

      {% endif %}      
    </ul>
  </nav>
	</nav>
	<div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Proyecto
        <div class="titulo">
          <h1> {{proyecto.nombre}} </h1>
          <ul>
            <li><a href="{% url 'misActividades' proyecto.nombre  proyecto.id %}">Mis actividades</a></li>
            <li class="selected"><a href=".">Todas las actividades</a></li>
            {% if administrador %}      
              <li><a href="{% url 'registroTarea' proyecto.nombre  proyecto.id   %}">Agregar Actividad</a></li>
            {% endif %}            
          </ul> 
        </div>
      </section>
      <section id="info">
          
        <section class="cuadro">
          <h2><span>Actividades</span> Sin Asignar</h2>
          <table class="table">
            <tbody>
              <tr>
                <th>Numero</th>
                <th>Nombre</th> 
                <th>Fecha de Entrega</th>
                <th>Estado</th>
                <th>Color</th>
                <th>Asignación</th>
              </tr>

            {% for tarea in listaTareasSinAsignar %}
              <tr> 
                <td>{{ forloop.counter }}</td>

                {% if administrador %}
                  <td> <a href="{% url 'editarTarea' proyecto.nombre proyecto.id tarea.id %}">{{ tarea }} </a> </td> 
                {% else %}
                  <td>{{ tarea }}</td>
                {% endif %}
                
                <td>{{ tarea.fechaEntrega }}</td>
                <td>{{ tarea.estado }}</td>
                <td>{{ tarea.estado.color }}</td>
                <td> <a href="{% url 'asignarTarea' proyecto.nombre proyecto.id tarea.id %}"> Asignarme </a> </td>
              </tr> 
            {% endfor %}  

            </tbody>
          </table>
        </section>
          
          <section class="cuadro">
            <h2><span>Actividades</span> En Trabajo</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th>Numero</th>
                  <th>Nombre</th> 
                  <th>Fecha de Entrega</th>
                  <th>Estado</th>
                  <th>Color</th>
                  <th>Progreso</th>
                </tr>

                {% for tarea in listaTareasActivas%}
                  <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ tarea }} </td>
                    <td> {{ tarea.fechaEntrega }}</td>
                    <td> {{ tarea.estado }} </td>
                    <td> {{ tarea.estado.color }} </td>
                    <td> 100% </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </section>
        
          <section class="cuadro">
            <h2><span>Actividades</span> Finalizadas</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th>Numero</th>
                  <th>Nombre</th> 
                  <th>Fecha de Finalización</th>
                  <th>Fecha de Entrega</th>
                </tr>

                {% for tarea in listaTareasFinalizadas%}
                  <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ tarea }} </td>
                    <td> {{ tarea.fechaEntrega }}</td>
                    <td> {{ tarea.estado }} </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </section>

        </section>
        
    </section>
  </div>

{% endblock %}