{% extends 'plantillas/cabezera.html'%}
{%block content%}


<nav id="menuizq">
    
    <ul>
      <li><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li><a href="{% url 'perfil' %}">Perfil</a></li>
      <li class="selected"><a href=".">Datos del proyecto</a></li>

      <li class="sub selected"><a href="{% url 'proyecto' proyecto.nombre  proyecto.id %}">Actividades</a></li>
      <li class="sub"><a href="">Colaboradores</a></li>
      <li class="sub"><a href="">Estadisticas</a></li>
      
      {% if administrador %}
      
        <li class="sub"><a href="{% url 'editarProyecto' proyecto.nombre  proyecto.id   %}">Editar</a></li>
        <li class="sub"><a href="">Eliminar</a></li>

      {% endif %}      
    </ul>
  </nav>
	</nav>
	<div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Proyecto
        <div class="titulo">
          <h1> {{proyecto.nombre}} </h1>
          <ul>
            <li class="selected"><a href=".">Mis actividades</a></li>
            <li><a href="{%  url 'proyecto' proyecto.nombre proyecto.id %}">Todas las actividades</a></li>
            {% if administrador %}      
              <li><a href="{% url 'registroTarea' proyecto.nombre  proyecto.id   %}">Agregar Actividad</a></li>
            {% endif %}            
          </ul> 
        </div>
      </section>
      <section id="info">
          
        <section class="cuadro">
          <h2><span>Actividades</span> Finalizadas </h2>
          <table class="table">
            <tbody>
              <tr>
                <th>Numero</th>
                <th>Nombre</th> 
                <th>Proyecto</th>
                <th>Fecha Entrega</th>
                <th>Estado</th>
                <th>Color</th>
              </tr>

              {% for tarea in listaActividadesFinalizadas %}
              <tr>
                <th> {{ forloop.counter }} </th>
                <td>{{tarea.nombre}}</td>
                <td>{{tarea.proyecto}}</td>
                <td>{{tarea.fechaEntrega}}</td>
                <td>{{tarea.estado}}</td>
                <td>{{tarea.estado.color}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
          
        <section class="cuadro">
          <h2><span>Actividades</span> En trabajo </h2>
          <table class="table">
            <tbody>
            </tbody>
             
              <tr>
                <th>Numero</th>
                <th>Nombre</th> 
                <th>Proyecto</th>
                <th>Fecha Finalización</th>
              </tr>

            {% for tarea in listaActividadesActivas %}
              
              <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{tarea.nombre}}</td> 
                <td>{{tarea.proyecto}}</td>
                <td> Finalizado </td>
              </tr>

            {% endfor %}

            </table>
          </section>
        
        </section>
    
  </div>

{% endblock %}