{% extends 'plantillas/cabezera.html'%}
{%block content%}


<nav id="menuizq">
    
    <ul>
      <li><a href="{% url 'home' %}">Tablero inicial</a></li>
      <li><a href="{% url 'perfil' %}">Perfil</a></li>
      <li class="selected"><a href="">Datos del proyecto</a></li>
   </ul>

  </nav>
  </nav>
  <div id="pag">
    <section id="content">
      <section id="header">
        <span id="home"></span>Tarea
        <div class="titulo">
          <h1> {{tarea.nombre}} </h1>
           
        </div>
      </section>
        <section id="info">

        <section class="cuadro">
          <h2><span>Actividad</span>
          <table class="table">
            <tbody>
              <tr>
                
                <th>Proyecto</th>
                <th>Fecha Entrega</th>
                <th>Estado</th>
                <th>Color</th>

              </tr>
              <tr>
                
                <td>{{tarea.proyecto}}</td>
                <td>{{tarea.fechaEntrega}}</td>
                <td>{{tarea.estado}}</td>
                <td>{{tarea.estado.color}}</td>

              </tr>
              
            </tbody>
          </table>
        </section>

            
        </section>
    </section>
  </div>

{% endblock %}